body{
  background-size: 1366px 635px;
  background-position: auto;
  background-repeat: no-repeat;
}

img.logo{
  height: 100px;
  width:  500px;
}

img.started{
  height: 550px;
  width:  550px;
  margin-left: 85px;
}

img.news{
  height: 220px;
  width:  475px;
  margin-top: 40px;
}

img.Contact{
  height: 240px;
  width:  250px;
}

img.new{
  height: 240px;
  width:  250px;
}

.container{
  display:flex;
  margin-left: 0px;
}

table.main{
  padding-bottom: 100px;
}

td.sec{
  padding-right: 10px;
}
