body {
    background-color: rgb(44, 44, 44);
}
.results {
    padding: 20px;
    width: 100%;
    height: 100%;
}


.main_result{
    width: 400px;
    height: 250px;
    color: rgb(160, 160, 160);
    background-color: rgb(160, 160, 160);
    border-radius: 200px;
}

.heading{
    font-size: 26px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 250, 250);

}

.subheading{
    font-size: 16px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 250, 250);
}