
body{
    background: linear-gradient(-45deg, #3b3b3b , #222222, #181818);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow-x: hidden;
}


.results {
    width: 100%;
    height: 100%;
    margin-left: 50px;
}

.s23{
    border-radius: 20px;
    background: linear-gradient(270deg, rgb(64, 72, 134), #7077d1);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    filter: brightness(120%);
    filter: contrast(100%);
    /* filter: drop-shadow(10px 10px 10px rgb(59, 59, 59)); */
}

.main_result{
    display: flex;
    min-width: 70px;
    background: linear-gradient(270deg, rgb(64, 72, 134), #7077d1);;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: fit-content;
    border-radius: 20px;
    filter: brightness(120%);
    filter: contrast(100%);
    /* filter: drop-shadow(10px 10px 10px rgb(59, 59, 59)); */
}

img.logo{
    margin-top: 10px;
    height: 60px;
    width:  330px;
    margin-left: 50px;
}

.shrink{
    margin-left: 30px;
    background: linear-gradient(270deg,  #7077d1,rgb(64, 72, 134));
    transform: scale(0.75);
    margin-top: -27px;
    margin-left: -80px;
    overflow:auto;
}

.light{
    font-weight: bolder;

}

.BT{
    font-weight: bolder;
}

.DS{
    font-weight: bolder;
}

.Cam{
    font-weight: bolder;
}

.R{
    font-weight: bolder;
}

.IS{
    font-weight: bolder;
}

ul.specs{
    list-style-type: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 250, 250);
    font-size: 23px;
    /* filter: drop-shadow(2px 2px 2px rgb(104, 104, 104)); */
}

.heading{
    user-select: none;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 250, 250);
    /* filter: drop-shadow(8px 8px 8px rgb(54, 54, 54)); */
}

.subheading{
    user-select: none;
    margin-top: 20px;
    font-size: 40px;
    font-weight: 1000px;
    margin-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 250, 250);
    /* filter: drop-shadow(3px 3px 3px rgb(54, 54, 54)); */
    text-overflow:clip;
}

.other_phones{
    display: flex;
}

.subheading_2{
        user-select: none;
        margin-top: 20px;
        font-size: 30px;
        font-weight: 1000px;
        margin-left: 40px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: rgb(250, 250, 250);
        /* filter: drop-shadow(3px 3px 3px rgb(54, 54, 54)); */
        text-overflow:clip;
}

h1.more{
    user-select: none;
    font-size: 25px;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(250, 250, 250);
    /* filter: drop-shadow(2px 2px 2px rgb(54, 54, 54)); */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}