<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='contact.css') }}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>MOBIHUNT - CONTACT US</title>
    </head>
    <body>
        <img class = "logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="">
        <br>
        <center>
        <img class = "main" src="{{ url_for('static', filename='images/Contact main.png') }}">
        </center>
    </body>
</html>