<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tech News</title>
    <link rel="stylesheet" href="Tech News.css"/>
  </head>
  <body>
    <header>
      <br><br>
      <h1 class="tech-news-heading">TECH NEWS</h1>
    </header>
    <main>

      <div class="articles"></div>
      <button class="browse-more">BROWSE MORE</button>
    </main>
    <script src="Tech News.js"></script>
  </body>
</html>
