<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Tech News</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Tech News.css') }}">
  </head>
  <body>
    <header>
      <h1>TECH NEWS</h1>
    </header>
    <main>
      <div class="articles"></div>
      <button class="browse-more">BROWSE MORE</button>
    </main>
    <script type="module" src="{{url_for('static', filename='Tech News.js')}}"></script>
  </body>
</html>